<h1>Listado de Productos</h1>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <strong>Filtrar</strong>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= form_tag(filterProducts_path, method: "post") do %>
          <%= label_tag(:code, "Código: ") %>
          <%= text_field_tag(:code, @code) %>
          <%= label_tag(:desc, "Descripción: ") %>
          <%= text_field_tag(:desc, @desc) %>
          <%= label_tag(:orig, "Código Original: ") %>
          <%= text_field_tag(:orig, @orig) %>
          </br>
          <div class="form-inline">
            <%= check_box_tag(:dais, :dais, @dais) %>
            <%= label_tag(:dais, "Dais") %>
          </div>
          <div class="form-inline">
            <%= check_box_tag(:arcre, :arcre, @arcre)%>
            <%= label_tag(:arcre, "Arcre") %>
          </div>
          <div class="form-inline">
            <%= check_box_tag(:armand, :armand, @armand) %>
            <%= label_tag(:armand, "Armand") %>
          </div>
          <%= hidden_field_tag(:filter, true)%>
          </br>
          <%= submit_tag("Filtrar", class: 'btn') %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Código Original</th>
      <th>Empresa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.getStringCode%></td>
        <td><%= product.description %></td>
        <td><%= product.original_code %></td>
        <td><%= product.getEnterprise %></td>
        <td><%= button_to 'Ver Producto', product, class: 'btn btn-info btn-xs', :method => :get %></td>
        <td><%= button_to 'Editar Producto', edit_product_path(product), class: 'btn btn-success btn-xs', :method => :get %></td>
        <td><%= button_to 'Eliminar Producto', product, method: :delete, data: { confirm: 'Con esto eliminara el producto de forma permanente, esta seguro?' }, class: 'btn btn-danger btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Insertar un nuevo producto', new_product_path %>

<script type="text/javascript">
$(".collapse").collapse()
</script>
